include *.txt
include *.nsi
include *.conf
include *.spec
include test*
recursive-include api-docs *
recursive-include test *

include src/iskdaemon/imgSeekLib/*.h

include src/iskdaemon/ui/admin-gwt/.project
include src/iskdaemon/ui/admin-gwt/.classpath
recursive-include src/iskdaemon/ui/admin-gwt/src *
recursive-include src/iskdaemon/ui/admin-www *
recursive-include debian *
prune src/iskdaemon/ui/admin-gwt/war
prune src/iskdaemon/ui/admin-gwt/gwt-unitCache
prune src/iskdaemon/ui/admin-gwt/.gwt

global-exclude *~
global-exclude *.tmp
global-exclude *.bak
global-exclude *.pyc
global-exclude *.old
global-exclude *.DS_Store
global-exclude *war*
